@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    li {
        color: $secondaryColor;
        cursor: pointer;

        a {
            text-decoration: none;
            color: $secondaryColor;
        }
    }
}


main {
    flex: 1;
}