// Color Variables
$primaryColor: #2c3e50;
$secondaryColor: #e67e22;
$thirdColor: #09be54;
$backgroundColor: #65fcc9;
$textColor: #d7dfe2;
$darkColor: #000;
$whiteColor: #fff;


// Media query variable
$xls: "only screen and (min-width: 1201px) and (max-width:1600px)";
$desktop: "only screen and (min-width: 1025px) and (max-width:1200px)";
$laptop: "only screen and (min-width: 769px) and (max-width:1024px)";
$tablet: "only screen and (min-width: 576px) and (max-width:768px)";
$mobile: "only screen and (min-width: 320px) and (max-width:575px)";